.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 48px;

  ul {
    list-style-type: none;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .page {
    gap: 18px;
  }
}