.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  .blurb {
      max-width: 30vw;
      display: flex;
      flex-direction: column;
      gap: 18px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .page {
    .name {
      font-size: 60px;
    }

    .blurb {
      max-width: 85vw;
    }
  }
}
 
 /* Medium devices (landscape tablets, 1200px and down) */
 @media only screen and (min-width: 601px) and (max-width: 1200px) {
  .page {
    .name {
        font-size: 85px;
    }
   
    .blurb {
      max-width: 50vw;
    }
  }
}