.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 24px;

    .name {
        font-size: 120px;
        text-transform: uppercase;
    }

    .blurb {
        max-width: 30vw;
        font-size: 14px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   .page {
        .name {
            font-size: 48px;
        }

        .blurb {
            max-width: 85vw;
        }
    }
}
  
/* Medium devices (landscape tablets, 1200px and down) */
@media only screen and (min-width: 601px) and (max-width: 1200px) {
    .page {
        .name {
            font-size: 85px;
        }
    
        .blurb {
          max-width: 50vw;
        }
    }
}