.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 24px;

    .name {
        font-size: 120px;
        text-transform: uppercase;
    }

    .blurb {
        max-width: 30vw;
        font-size: 14px;
    }
}
